.home {
  background-color: red;
  background-image: url("/wallpaper.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* va bene */
  overflow-x: hidden; /* previene scrollbar orizzontale */
}
