@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Monomaniac+One&family=Nata+Sans:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.B{
    border: solid 2px red;
}
.IB{
    border: solid 2px purple;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* fondamentale per evitare overflow */
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: black;
  background-image: url("/wallpaper.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden; /* evita scrollbar orizzontale */
}

